body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: blue;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 40px;
}

img {
    width: 100%;
    display: block;
}